[submodule "origin/.vim/bundle/neobundle.vim"]
	path = origin/.vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "origin/.vim/dein/repos/github.com/Shougo/dein.vim"]
	path = origin/.vim/dein/repos/github.com/Shougo/dein.vim
	url = git://github.com/Shougo/dein.vim
