[submodule "origin/.vim/bundle/neobundle.vim"]
	path = origin/.vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "origin/.emacs.d/themes/emacs-color-theme-solarized"]
	path = origin/.emacs.d/themes/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
